.header {
	padding: 10px;
	position: relative;
}
.title {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

.title {
	font-size: 18pt;
}

.left,
.right {
	position: absolute;
}

.right {
	right: 0;
}
