.header {
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	align-items: center;
	padding-block: 8px;
}

.left {
	justify-self: start;
}

.title {
	text-align: center;
}

.right {
	justify-self: end;
}
