services:
  db:
    image: mysql:latest
    environment:
      MYSQL_ROOT_PASSWORD: ${DATABASE_ROOT_PASSWORD}
      MYSQL_DATABASE: ${DATABASE_NAME}
      MYSQL_USER: ${DATABASE_USER}
      MYSQL_PASSWORD: ${DATABASE_PASSWORD}
      MYSQL_LOG_BIN: 0
    volumes: 
      - ./data:/var/lib/mysql
      - ./my.cnf:/etc/mysql/conf.d/my.cnf
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "--silent"]
      interval: 10s
      timeout: 5s
      retries: 3
    networks:
      - internal
    restart: unless-stopped

  backend:
    build:
      context: ./backend
    image: spiel-auction-backend:prod
    env_file:
      - .env
    volumes:
      - xml-data:/app/xml-data
      - ./backend/prisma:/app/prisma
      - ./backend/src:/app/src
      - ./backend/node_modules:/app/node_modules
    networks:
      - internal
      - default
    depends_on:
      db:
        condition: service_healthy

  backend-api:
    image: spiel-auction-backend:prod
    command: sh -c "npx prisma migrate deploy && yarn start:api"
    env_file:
      - .env
    ports:
      - "3000:3000"
    volumes:
      - ./backend/src:/app/src
      - ./backend/prisma:/app/prisma
      - ./backend/node_modules:/app/node_modules
    depends_on:
      - db
    networks:
      - internal
      - default
    healthcheck:
      test: ["CMD", "wget", "--spider", "http://127.0.0.1:3000/health"]
      interval: 10s
      timeout: 10s
      retries: 10

  backend-importer:
    image: spiel-auction-backend:prod
    command: yarn start:importer
    env_file:
      - .env
    volumes:
      - ./backend/src:/app/src
      - ./backend/prisma:/app/prisma
      - ./backend/node_modules:/app/node_modules
    depends_on:
      - db
    networks:
      - internal
      - default

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.prod
      args:
        VITE_AUTH0_DOMAIN: ${AUTH0_DOMAIN}
        VITE_AUTH0_CLIENT_ID: ${AUTH0_CLIENT_ID}
        VITE_AUTH0_AUDIENCE: ${AUTH0_AUDIENCE}
        VITE_DEFAULT_GEEKLIST_ID: ${DEFAULT_GEEKLIST_ID}
        VITE_GOOGLE_CLIENT_ID: ${GOOGLE_CLIENT_ID}
        VITE_GOOGLE_REDIRECT_URI: ${GOOGLE_REDIRECT_URI}
    environment:
      VITE_AUTH0_DOMAIN: ${AUTH0_DOMAIN}
      VITE_AUTH0_CLIENT_ID: ${AUTH0_CLIENT_ID}
      VITE_AUTH0_AUDIENCE: ${AUTH0_AUDIENCE}
      VITE_DEFAULT_GEEKLIST_ID: ${DEFAULT_GEEKLIST_ID}
      VITE_GOOGLE_CLIENT_ID: ${GOOGLE_CLIENT_ID}
      VITE_GOOGLE_REDIRECT_URI: ${GOOGLE_REDIRECT_URI}
    volumes:
      - frontend-build:/usr/share/nginx/html  # Share the build output with the Nginx container
    depends_on:
      backend-api:
        condition: service_healthy
    expose:
      - "80"
    networks:
      - internal
      - default
    restart: unless-stopped

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - frontend-build:/usr/share/nginx/html  # Mount the shared volume
      - ./nginx/nginx.prod.conf:/etc/nginx/nginx.conf
      - ./certbot/www:/var/www/certbot
      - ./letsencrypt:/etc/letsencrypt
    networks:
      - internal
      - default
    depends_on:
      frontend:
          condition: service_started
      backend-api:
          condition: service_healthy
    restart: unless-stopped

  certbot:
    image: certbot/certbot:latest
    volumes:
        - ./certbot/www:/var/www/certbot
        - ./letsencrypt:/etc/letsencrypt
    networks:
        - internal
        - default
    restart: unless-stopped

  xml-fetcher:
    build: ./xml-fetcher
    volumes:
      - xml-data:/app/data
    networks:
      - internal
    restart: unless-stopped
    environment:
      - DEFAULT_GEEKLIST_ID=${DEFAULT_GEEKLIST_ID}

  redis:
    image: redis:latest
    ports:
      - "6379:6379"
    restart: unless-stopped

networks:
  internal:
    driver: bridge

volumes:
  xml-data:
  frontend-build:
