ul.items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.loadMore {
  display: flex;
  justify-content: center;
}

.loadMore button {
  display: flex;
}


.buttonIcon > * {
  padding: 0 1rem;
}

.buttonIcon > div > span {
  width: 20px !important;
  height: 20px !important;
}

.noItems {
	text-align: center;
	padding: 2rem;
  font-style: italic;
  opacity: 0.7;
}


.header {
	padding: 10px;
}
.title {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

.title,
.filterButton {
	font-size: 18pt;
}

.container {
	margin: 10px auto 30px;
	border-top: 1px solid #ccc;
}

@media screen and (min-width: 980px) {
	.container {
		border: 1px solid #ccc;
		border-radius: 10px;
		box-shadow: 0 3px 8px #0000004d;
	}
}

.total {
	font-size: 0.8em;
	text-align: center;
	margin-bottom: 10px;
	opacity: 0;
	transition: opacity 500ms ease;
}

.showTotal > .total {
	opacity: 0.5;
}
