.loadMore {
	display: flex;
	justify-content: center;
	padding-block: 1rem 2rem;
}

.loadMore button {
	display: flex;
}

.buttonIcon > * {
	padding: 0 1rem;
}

.buttonIcon > div > span {
	width: 20px !important;
	height: 20px !important;
}

.searchBox {
	width: 100%;
	display: flex;
	padding: 2rem;
	box-sizing: border-box;
}

.items {
	transition: filter 300ms ease;
}

.outdated {
	filter: grayscale(0.7);
}
