.hint {
	padding: 1rem 1rem 2rem;
	font-size: 0.8rem;
	text-align: center;
}

.button {
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	color: var(--colour-inactive);
}

.button.active {
	color: var(--colour-active);
}
