.navbar {
	background: radial-gradient(
			circle,
			var(--colour-main) 0%,
			var(--colour-main) 50%,
			var(--colour-main-alt) 100%
		)
		fixed;
	margin-bottom: 15px;
	box-shadow: #00000038 0px 6px 10px 0px;
	padding: 12px 24px;
}

.navbar button,
.navbar .button {
	color: var(--colour-on-main);
}

.headerLink {
	text-decoration: none;
	display: flex;
	flex-direction: row;
}

.navbar button svg {
	font-size: 30px;
}

.title {
	display: flex;
	align-items: center;
	color: var(--colour-on-main);
	flex: 1;
}

.content {
	display: flex;
	align-content: center;
	justify-content: center;
}
