:root {
	--content-max-width: 980px;

	font-family: Roboto;
}

body {
	margin: 0;
	--colour-main: #1069bc;
	--colour-main-alt: #02274b;
	--colour-on-main: #ffffff;
	--colour-background: #ffffff;
	--colour-text: #333;
	--colour-title: #1069bc;
	--colour-icon: var(--colour-main);
	--colour-link: var(--colour-main);
	--colour-active: var(--colour-main);
	--colour-disabled: #ccc;
	--colour-inactive: #666;
	--colour-seen: #46aa55;
	--colour-bookmark: var(--colour-icon);
	--bookmark-thickness: 4px;

	background-color: var(--colour-background);
}

body.dark {
	--colour-main: #02274b;
	--colour-main-alt: #011428;
	--colour-on-main: hsl(210, 95%, 97%);
	--colour-background: #1f1f1f;
	--colour-text: #eee;
	--colour-title: #ffffff;
	--colour-icon: #1976d2;
	--colour-link: #6699ff;
	color: #e0e0e0;
	--colour-active: #fff;
	--colour-disabled: #444;
	--colour-inactive: #888;
	--colour-seen: #52d064;
	--colour-bookmark: var(--colour-icon);
	--bookmark-thickness: 5px;
}

.icon {
	color: var(--colour-icon);
}

a {
	color: var(--color-link);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--colour-title);
}

html {
	color: var(--colour-text);
}

.content-max-width {
	width: 100%;
	max-width: var(--content-max-width);
	margin-left: auto;
	margin-right: auto;
}

.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}
