.container {
	border-top: 1px solid #eee;
	position: relative;
}

.info {
	cursor: pointer;
	flex: 1;
	padding: 10px 0px;
	overflow: hidden;
}

.auctionItem {
	min-height: 60px;
}

.ended {
	opacity: 0.5;
}

.ended .info {
	text-decoration: line-through;
}

.name {
	font-weight: 400;
}

.objectName {
	flex: 1;
	display: flex;
	align-items: center;
}

.details {
	font-size: 0.7em;
	opacity: 0.5;
}

.hideOverflow {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.skeleton {
	padding: 5px 10px;
	height: 55px;
}

.displayName {
	display: flex;
	flex: 1;
	text-decoration: none;
}

.bookmarked {
	border-top: 2px solid var(--colour-active);
}

.bigScreen .bookmark {
	transition: opacity 300ms ease;
	display: flex;
	opacity: 0;
}

.container:hover .bookmark {
	opacity: 1;
}

.sideBookmark {
	display: flex;
	opacity: 0;
	align-items: center;
	position: absolute;
	left: -50px;
	height: 100%;
	transition: opacity 300ms ease;
}
.container:hover .sideBookmark {
	opacity: 1;
}
@media screen and (max-width: 1280px) {
	.sideBookmark {
		display: none;
	}
}
