.iconContainer {
	font-family: 'Material Icons';
	font-size: 30px; /* Set icon size */
	text-transform: none;
	line-height: 1em;
}

.iconContainer::before {
	content: 'bookmark'; /* Icon name goes here */
}

.checked {
	color: var(--colour-bookmark);
}
.unchecked::before {
	color: var(--colour-disabled);
	content: 'bookmark_border';
}
